All:
numpy scipy tifffile scikit-image network tensorflow csbdeep embedseg voxelmorph itk-elastix aicsimageio aicspylibczi 

TiffToStacks.py:
numpy scipy tifffile aicsimageio aicspylibczi

CARE_denoising.py:
numpy scipy tifffile tensorflow csbdeep

tubeness.ijm:
Not a python script, run in Fiji (ImageJ)

Embedseg_predict.py:
numpy tifffile embedseg json 

refine_embedseg.py:
numpy tifffile

overseg_and_resize.py:
numpy scipy tifffile scikit-image networkx

simple_elastix_register_pairs.py:
numpy tifffile itk-elastix

propagate.py:
numpy tifffile tensorflow voxelmorph itk-elastix